{{#each Infos as |info|}}
<div class="card">
  <h7 class="card-header">{{info.title}}</h7>
  <div class="card-body">
    <p class="card-title">{{info.description}}</p>
 
  <p class="card-body" style="font-size: 10px; color:cornflowerblue">posted By:{{info.user.username}}</p>
{{post.comment.comment}}
    <a href="/post/{{info.id}}" class="btn btn-primary">add comment</a>
  </div>
</div>

  {{/each}}

